@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #DC2626;
  color: #fff;
}

:focus-visible {
  outline: 2px solid #EF4444;
  outline-offset: 2px;
}
